<link rel="stylesheet" href="/style/navbar.css">
<nav>
  <div class="landing-header">
    <div class="logo-container">
      <img src="/assets/log.png" alt="Logo" width="100" height="100" />
    </div>

    <div class="right-header">
      <a href="/home"><img src="/assets/home-1-svgrepo-com.svg" width="32"> Home</a>
      <a href="/post?category=Dramas"><img src="/assets/drama-svgrepo-com.svg" width="32"> Dramas</a>
      <a href="/post?category=Movies"><img src="/assets/movie-recorder-svgrepo-com.svg" width="32"> Movies</a>
      <a href="/post?category=Books"><img src="/assets/book-open-svgrepo-com.svg" width="32"> Books</a>
      <a href="/profile/index"><img src="/assets/profile-round-1346-svgrepo-com.svg" width="32"> Profile</a>
      <a href="/post/new">+ Add Post</a>
      <a href="/auth/sign-out"><img src="/assets/sign-out-svgrepo-com.svg" width="32"> Sign out</a>
    </div>
  </div>
</nav>

