<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #afa4b1;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="landing-header">
        <div class="logo-container">
          <div class="house-icon"></div>
          <div name="left-header">
            <img src="/assets/log.png" alt="Logo" width="100" height="100" />
          </div>
          <div class="right-header">
            <a href="#"
              ><img
                src="/assets/home-1-svgrepo-com.svg"
                alt="Home Icon"
                width="32"
                height="32"
              />Home</a
            >
            <a href="#"
              ><img
                src="/assets/drama-svgrepo-com.svg"
                alt="Home Icon"
                width="32"
                height="32"
              />Dramas</a
            >
            <a href="#"
              ><img
                src="/assets/movie-recorder-svgrepo-com.svg"
                alt="Home Icon"
                width="32"
                height="32"
              />Movies</a
            >
            <a href="#"
              ><img
                src="/assets/book-open-svgrepo-com.svg"
                alt="Home Icon"
                width="32"
                height="32"
              />Books</a
            >
            <a href="/profile/index"
              ><img
                src="/assets/profile-round-1346-svgrepo-com.svg"
                alt="Home Icon"
                width="32"
                height="32"
              />Profile</a
            >

            <a href="#"
              ><img
                src="/assets/sign-out-svgrepo-com.svg"
                alt="Home Icon"
                width="32"
                height="32"
              />Sign out</a
            >
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
