<nav>
  <div class="landing-header">

    <div class="logo-container">
   <a href="/home"><img src="/public/log.png" width="100px"></a>

    </div>

    <div class="right-header">
      <a href="/post?category=Dramas"><img src="/public/drama-svgrepo-com.svg" width="32">Dramas</a>
      <a href="/post?category=Movies"><img src="/public/movie-recorder-svgrepo-com.svg" width="32">Movies</a>
      <a href="/post?category=Books"><img src="/public/book-open-svgrepo-com.svg" width="32">Books</a>
      <a href="/profile/index"><img src="/public/profile-round-1346-svgrepo-com.svg" width="32">Profile</a>
      <a href="/post/new"><img src="/public/new-indicator-svgrepo-com.svg" width="32">New Post</a>
      <a href="/auth/sign-out"><img src="/public/sign-out-svgrepo-com.svg" width="32">Sign out</a>
    </div>

  </div>
</nav>
<style>
  @import url('/style/navbar.css');

</style>