body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7c6b87, #e8d6eb);
  margin: 0;
  padding: 0;
}


.content-wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}


.category-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 220px;
  height: 300px;
  text-align: center;
  border-radius: 25px;
  padding: 25px 15px;
  color: #312a32;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.category-card img {
  margin-top: 10px;
}

.category-card p {
  font-size: 28px;
  font-weight: 600;
  margin-top: 15px;
}


.add-post-btn {
  display: block;
  margin: 50px auto;
  width: 200px;
  text-align: center;
  padding: 12px;
  background: #5e4b62;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s;
}

.add-post-btn:hover {
  background: #a396ac;
}
