body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7c6b87, #c9b5c9);
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;

}

.part {
  padding-top: 100px;


}

.books,
.movies,
.dramas {
  width: 400px;
  height: 350px;
  background-color: #9d92a3;
  border-radius: 30px;
  padding: 30px 20px 20px 20px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}



p {
  margin: 15px;
  font-size: 50px;
  font-weight: 700;
}

button {
  display: block;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border: 0 solid;
  background-color: #554a57;
  color: white;
  margin: 20px;
}

button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

button:hover {
  display: block;
  height: 50px;
  width: 200px;
  border-radius: 20px;
  border: 0 solid;
  background-color: #554a57;
  color: white;
  margin: 20px;
}


.new {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.new:hover {
  color: #e3d0ff;
  text-decoration: underline;
}