
nav {
  width: 100%;
  color: #ffffff;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(197, 193, 198, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}


.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo-container img {
  display: block;
  max-height: 100px;
}

.right-header a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s;
}

.right-header a:hover {
  color: #5f5461;
}

.right-header img {
  vertical-align: middle;
}

@media (max-width: 768px) {
  .landing-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .right-header {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .right-header a {
    margin: 5px 10px 0 0;
  }
}
