body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #7c6b87, #e8d6eb);
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #3f3a41;
  margin-top: 40px;
  font-size: 32px;
}

form {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10px;

}

form label {
  color: #3b2f3f;
  font-weight: bold;
}

form input,
form select,
form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #b9a8c9;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  background: #5f5461;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #3f3643;
}

@media (max-width: 500px) {
  form {
    width: 90%;
  }
}