body {
  background-color: #c4b8c8;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #2d1f2f;
  margin: 40px 60px;
  font-size: 38px;
}

.posts-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 35px;
  padding-bottom: 50px;
}

.post-div {
  background-color: #9d92a3;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
  transition: 0.25s ease-in-out;
}

.post-div:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25);
}

.post-div img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 12px;
}

.post-div h3 {
  margin: 6px 0;
  font-size: 17px;
  color: #2d1f2f;
}

.post-div p {
  font-size: 15px;
  color: #2d1f2f;
}

.owner-container {
  background: #7f7386;
  padding: 12px;
  margin-top: 15px;
  border-radius: 18px;
  text-align: center;
}

.owner-container p {
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
}

.owner-container a,
.owner-container button {
  width: 90%;
  padding: 10px;
  margin: 6px auto;
  border-radius: 12px;
  border: none;
  display: block;
  font-size: 15px;
  cursor: pointer;
  background-color: #584c5c;
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.owner-container a:hover,
.owner-container button:hover {
  background-color: #453a47;
}


/* new page  */
.mina {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

form {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 10px;

}

form label {
  color: #3b2f3f;
  font-weight: bold;
}

form input,
form select,
form textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #b9a8c9;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  background: #5f5461;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #3f3643;
}

@media (max-width: 500px) {
  form {
    width: 90%;
  }
}