
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7c6b87, #e8d6eb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.main {
  padding: 50px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);
  border-radius: 22px;
  border: 1px solid rgba(255, 255, 255, 0.32);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
}


.container {
  background: #fff;
  padding: 40px;
  border-radius: 18px;
  width: 380px;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  text-align: center;
}


h1 {
  margin-bottom: 25px;
  color: #333;
  font-size: 26px;
}

label {
  display: block;
  text-align: left;
  margin: 18px 0 6px;
  font-weight: bold;
  color: #444;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 12px;
  transition: 0.3s;
}

input:focus {
  border-color: #a093a1;
  outline: none;
  box-shadow: 0 0 6px rgba(196, 171, 209, 0.45);
}


button {
  width: 100%;
  padding: 12px;
  background: #5e4b62;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  margin-top: 12px;
  transition: 0.3s;
}

button:hover {
  background: #a396ac;
}


p {
  margin-top: 25px;
  color: #555;
}


a {
  color: #3c393d;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
