body {
    background-color: #c4b8c8;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h3,
h5,
p,
label {
    margin: 8px 0;
}

.post-div {
    background-color: #9d92a3;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    transition: 0.25s ease-in-out;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    gap: 1rem;
}

.image {
    width: 400px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.post-div p {
    width: 95%;
    height: 180px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #d4d4d4;
    color: #463e51;

}

.comment-section {
    background-color: #9d92a3;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    margin-bottom: 1rem;
    width: 85%;
    margin-left: 50px;

}

.comment-section h5 {
    font-size: 10px;
    color: #ffffff;
    margin: 5px 0;
}

.comment-section h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.comment {
    margin-top: 2rem;
    padding: 1.5rem;
    border-top: 1px solid #aaa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.comment form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comment label {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
}

#comment-input {
    flex-grow: 1;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
}

.comment button[type="submit"] {
    background-color: #9d92a3;
    color: #ffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-start;
}

.comment button[type="submit"]:hover {
    background-color: #5a1ea0;
    transform: translateY(-1px);
}