<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <style>
    body{
      color: #AFA4B1;
    }
    .books, .movies, .dramas {
      width: 200px;
      height: 250px;
      color: rgb(139, 133, 143);
      border-radius: 30%;
      padding: 20px;
      margin: 20px;
      text-align: center;
    }
    p {
      margin: 15px;
      font-size: 20px ;
      font-weight: 700;
    }
  </style>
</head>
<body>
  <%- include('./partials/_navbar') %>
  <img src="" alt="">
  <div class="books">
    <img src="/assets/book-open-svgrepo-com.svg" alt="books icon" width="50" height="50">
    <p>Books</p>
  </div>
  <div class="movies">
    <img src="/assets/movie-recorder-svgrepo-com.svg" alt="movie icon" width="50" height="50">
    <p>Movies</p>
  </div>
  <div class="dramas">
    <img src="/assets/drama-svgrepo-com.svg" alt="drama icon" width="50" height="50">
    <p>Dramas</p>
  </div>

</body>
</html>


