<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style/home.css">
  <%- include('./partials/_navbar') %>


</head>
<body>

  <div class="content-wrapper">
    <div class="category-card">
      <img src="/assets/book-open-svgrepo-com.svg" width="120">
      <p>Books</p>
    </div>

    <div class="category-card">
      <img src="/assets/movie-recorder-svgrepo-com.svg" width="120">
      <p>Movies</p>
    </div>

    <div class="category-card">
      <img src="/assets/drama-svgrepo-com.svg" width="120">
      <p>Dramas</p>
    </div>
  </div>

  <a class="add-post-btn" href="/post/new">+ Add New Post</a>

</body>
</html>





