<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/style/index.css">
</head>
<body>
  <%- include('./partials/_navbar') %>
  <img src="" alt="">
  <div class="books">
    <img src="/assets/book-open-svgrepo-com.svg" alt="books icon" width="100" height="100">
    <p>Books</p>
  </div>
  <div class="movies">
    <img src="/assets/movie-recorder-svgrepo-com.svg" alt="movie icon" width="100" height="100">
    <p>Movies</p>
  </div>
  <div class="dramas">
    <img src="/assets/drama-svgrepo-com.svg" alt="drama icon" width="100" height="100">
    <p>Dramas</p>
  </div>

  <button>
    <a href="/post/new" class="new">
      + add new post
    </button>

</body>
</html>





